@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700&family=Philosopher:wght@700&family=Unbounded:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200;400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h1{
    font-size: 40px;
    color: #2A3942;
    position: absolute;
    text-align: center;
    font-family: 'Cinzel Decorative', cursive;
    word-spacing: 15px;
    top: 100px;
}

.marquee {
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
    position: absolute;
    top: 10%;
    width: 100%;
}

.marquee span {
    display: inline-block;
    padding-left: 100%;
    font-family: 'Unbounded', cursive;
    animation: marquee 10s linear infinite;
  }
  
  .marquee2 span {
    animation-delay: 5s;
  }
  
  @keyframes marquee {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(-100%, 0);
    }
  }

.generator{
    display: grid;
    place-items: center;
    padding: 20px 70px;
    width: fit-content;
    border: #4b4b4b;
    border-radius: 8px;
    background: #111B21;
    background-image: url(img/main-bg2.png);
    background-position: top;
}

#HexCode{
    color: #fff;
    font-size: 30px;
    padding: 10px 0 20px 0;
}

#btn{
    height: 50px;
    width: fit-content;
    color: #fff;
    background: #2A3942;
    padding: 10px 20px;
    font-weight: 500;
    font-size: 25px;
    border-radius: 8px;
    border: none;
    outline: none;
    cursor: pointer;
}

#btn:hover{
    background: #585858;
    transition: 0.4s ease;
}

#copy{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100%;
    height: 50px;
    top: 0;
    opacity: 0;
    color: #354f23;
    background: hwb(153 60% 0%);
    text-align: center;
    font-weight: 600;
}

#copy img{
    margin-left: 10px;
}

footer{
    position: fixed;
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
    background: linear-gradient(#A4BC2B,#CCDA36);
    bottom: 0;
}

.source{
    display: flex;
    align-items: center;
    width: 100%;
    padding-inline: 25px;
    justify-content: space-between;
}

.source p{
    font-size: 18px;
}

.source a{
    text-decoration: none;
    font-size: 18px;
}

@media (max-width: 500px){
    .source p,.source a{
        font-size: 16px;
    }
    h1{
        width: 85%;
        font-size: 30px;
    }
}